{% extends '::layout.html.twig' %}

{% block contenttop %}
    <span class="icos-signpost"></span>Szczegóły województwa: {{ entity }}
{% endblock %}
    
{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ path('provinces') }}" title="Województwa">Województwa</a>
        <ul>
            <li><a href="{{ path('provinces_new') }}" title="Nowe województwo">Nowe województwo</a></li>
        </ul>
    </li>
    <li class="current"><a href="#" title="Szczegóły województwa">Szczegóły województwa: {{ entity }}</a></li>
{% endblock %}

{% block body -%}
    <div class="widget justTable">
        <table cellpadding="0" cellspacing="0" width="100%" class="tDefault">
            <tbody>
                <tr>
                    <td width="25%">Nazwa województwa:</td>
                    <td>{{ entity.name }}</td>
                </tr>
                <tr>
                    <td width="25%">Kod ISO województwa:</td>
                    <td>{{ entity.isoName }}</td>
                </tr>
                <tr>
                    <td width="25%">Nazwa kraju:</td>
                    <td>{{ entity.country }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="divider"><span></span></div>

    <div class="widget nobg noBorder">
        <a class="buttonS bBlack" href="{{ path('provinces') }}" title="Powrót">Powrót</a>
        <a class="buttonS bGreen" href="{{ path('provinces_edit', { 'id': entity.id }) }}">Edytuj</a>
    </div>

    <div class="divider"><span></span></div>
{% endblock %}