{{ form_start(form) }}
    <fieldset>
        {{ form_errors(form) }}
        <div class="widget fluid">
            <div class="whead"><h6>{% if new == 'true' %}Nowy kraj{% else %}Edycja kraju{% endif %}</h6><div class="clear"></div></div>
            <div class="formRow">
                <div class="grid3"><label>{{ form_label(form.name) }}</label></div>
                <div class="grid9">{{ form_widget(form.name) }}{{ form_errors(form.name) }}</div>
                <div class="clear"></div>
            </div>
            <div class="formRow">
                <div class="grid3"><label>{{ form_label(form.isoName) }}</label></div>
                <div class="grid9">{{ form_widget(form.isoName) }}{{ form_errors(form.isoName) }}</div>
                <div class="clear"></div>
            </div>
            <div class="formRow">
                <div class="grid3">
                    <a class="buttonS bBlack" href="{{ path('countries') }}">Powrót</a>
                    {{ form_widget(form.submit) }}
                    {{ form_rest(form) }}
                </div>
                <div class="grid9"></div>
                <div class="clear"></div>
            </div>
        </div>
    </fieldset>
{{ form_end(form) }}