{% extends '::layout.html.twig' %}

{% block contenttop %}
    <span class="icos-globe"></span>Edycja kraju
{% endblock %}
    
{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ path('countries') }}" title="Kraje">Kraje</a>
        <ul>
            <li><a href="{{ path('countries_new') }}" title="Nowy kraj">Nowy kraj</a></li>
        </ul>
    </li>
    <li class="current"><a href="#" title="Edycja kraju">Edycja kraju</a></li>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/forms/jquery.uniform.js') }}"></script>
    <script>
        $(".styled, input:radio, input:checkbox, .dataTables_length select").uniform();
    </script>
{% endblock %}

{% block body -%}
    {{ form_start(edit_form) }}
        <fieldset>
            {{ form_errors(edit_form) }}
            <div class="widget fluid">
                <div class="whead"><h6>Edycja kraju</h6><div class="clear"></div></div>
                <div class="formRow">
                    <div class="grid3"><label>{{ form_label(edit_form.name) }}</label></div>
                    <div class="grid9">{{ form_widget(edit_form.name) }}{{ form_errors(edit_form.name) }}</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label>{{ form_label(edit_form.isoName) }}</label></div>
                    <div class="grid9">{{ form_widget(edit_form.isoName) }}{{ form_errors(edit_form.isoName) }}</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3">
                        <a class="buttonS bBlack" href="{{ path('countries') }}">Powrót</a>
                        {{ form_widget(edit_form.submit) }}
                        {{ form_rest(edit_form) }}
                    </div>
                    <div class="grid9"></div>
                    <div class="clear"></div>
                </div>
            </div>
        </fieldset>
    {{ form_end(edit_form) }}
    {{ form_start(delete_form) }}
        <fieldset>
            <div class="widget fluid">
                <div class="body">
                    {{ form_rest(delete_form) }}
                    <button class="buttonS bBlack" title="Usuń" onclick="if(!confirm('Czy jesteś pewny?')) { return false; }">Usuń</button>
                </div>
            </div>
        </fieldset>
    {{ form_end(delete_form) }}
{% endblock %}