{% extends '::layout.html.twig' %}

{% block contenttop %}
    <span class="icos-globe"></span>Lista krajów
{% endblock %}
    
{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ path('countries') }}" title="Kraje">Kraje</a>
        <ul>
            <li><a href="{{ path('countries_new') }}" title="Nowy kraj">Nowy kraj</a></li>
        </ul>
    </li>
    <li class="current"><a href="#" title="Lista krajów">Lista krajów</a></li>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/ui/jquery.tipsy.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/tables/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/tables/jquery.sortable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/tables/jquery.resizable.js') }}"></script>
    <script>
        $('.tipN').tipsy({gravity: 'n',fade: true, html:true});
	$('.tipS').tipsy({gravity: 's',fade: true, html:true});
	$('.tipW').tipsy({gravity: 'w',fade: true, html:true});
	$('.tipE').tipsy({gravity: 'e',fade: true, html:true});
    
        oTable = $('.dTable').dataTable({
		"bJQueryUI": false,
		"bAutoWidth": false,
		"sPaginationType": "full_numbers",
		"sDom": '<"tablePars"fl>t<"tableFooter"ip>',
		"oLanguage": {
                    "sProcessing":   "Proszę czekać...",
                    "sLengthMenu":   "Pokaż _MENU_ pozycji",
                    "sZeroRecords":  "Nie znaleziono żadnych pasujących indeksów",
                    "sInfo":         "Pozycje od _START_ do _END_ z _TOTAL_ łącznie",
                    "sInfoEmpty":    "Pozycji 0 z 0 dostępnych",
                    "sInfoFiltered": "(filtrowanie spośród _MAX_ dostępnych pozycji)",
                    "sInfoPostFix":  "",
                    "sSearch":       "Szukaj:",
                    "sUrl":          "",
                    "oPaginate": {
                        "sFirst":    "Pierwsza",
                        "sPrevious": "Poprzednia",
                        "sNext":     "Następna",
                        "sLast":     "Ostatnia"
                    }
                },
	});
        
        $('#dyn .tOptions').click(function () {
            $('#dyn .tablePars').slideToggle(200);
	});	
    </script>
{% endblock %}

{% block body -%}
    <ul class="middleNavS">
        <li><a href="{{ path('countries_new') }}" title="Dodaj nowy kraj" class="tipN"><img src="{{ asset('images/icons/middlenav/add.png') }}" alt="Dodaj nowy kraj" /></a></li>
    </ul>
    <div class="divider"><span></span></div>
    <div class="widget">
        <div class="whead"><h6>Lista krajów</h6><div class="clear"></div></div>
        {% include 'MustangLocalizationBundle:Country:_listaKrajow.html.twig' with { 'entities': entities } %}
        {% block subList %}
        {% endblock %}
    </div>
    <div class="divider"><span></span></div>
    <ul class="middleNavS">
        <li><a href="{{ path('countries_new') }}" title="Dodaj nowy kraj" class="tipN"><img src="{{ asset('images/icons/middlenav/add.png') }}" alt="Dodaj nowy kraj" /></a></li>
    </ul>
{% endblock %}