{% extends '::layout.html.twig' %}

{% block contenttop %}
    <span class="icos-globe"></span>Lista krajów
{% endblock %}
    
{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ path('countries') }}" title="Kraje">Kraje</a>
        <ul>
            <li><a href="{{ path('countries_new') }}" title="Nowy kraj">Nowy kraj</a></li>
        </ul>
    </li>
    <li class="current"><a href="#" title="Nowy kraj">Nowy kraj</a></li>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/forms/jquery.uniform.js') }}"></script>
    <script>
        $(".styled, input:radio, input:checkbox, .dataTables_length select").uniform();
    </script>
{% endblock %}

{% block body -%}
{#    {% include 'MustangLocalizationBundle:Country:_form.html.twig' with { 'form': form, 'new': 'true' } %}#}
    {{ form_start(form) }}
        <fieldset>
            {{ form_errors(form) }}
            <div class="widget fluid">
                <div class="whead"><h6>Nowy kraj</h6><div class="clear"></div></div>
                <div class="formRow">
                    <div class="grid3"><label>{{ form_label(form.name) }}</label></div>
                    <div class="grid9">{{ form_widget(form.name) }}{{ form_errors(form.name) }}</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label>{{ form_label(form.isoName) }}</label></div>
                    <div class="grid9">{{ form_widget(form.isoName) }}{{ form_errors(form.isoName) }}</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3">
                        <a class="buttonS bBlack" href="{{ path('countries') }}">Powrót</a>
                        {{ form_widget(form.submit) }}
                        {{ form_rest(form) }}
                    </div>
                    <div class="grid9"></div>
                    <div class="clear"></div>
                </div>
            </div>
        </fieldset>
    {{ form_end(form) }}
{% endblock %}