{% extends '::layout.html.twig' %}

{% block contenttop %}
    <span class="icos-globe"></span>Szczegóły kraju: {{ entity }}
{% endblock %}
    
{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ path('countries') }}" title="Kraje">Kraje</a>
        <ul>
            <li><a href="{{ path('countries_new') }}" title="Nowy kraj">Nowy kraj</a></li>
        </ul>
    </li>
    <li class="current"><a href="#" title="Szczegóły kraju">Szczegóły kraju: {{ entity }}</a></li>
{% endblock %}

{% block body -%}
    <div class="widget justTable">
        <table cellpadding="0" cellspacing="0" width="100%" class="tDefault">
            <tbody>
                <tr>
                    <td width="25%">Nazwa kraju:</td>
                    <td>{{ entity.name }}</td>
                </tr>
                <tr>
                    <td width="25%">Kod ISO kraju:</td>
                    <td>{{ entity.isoName }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="divider"><span></span></div>

    <div class="widget nobg noBorder">
        <a class="buttonS bBlack" href="{{ path('countries') }}" title="Powrót">Powrót</a>
        <a class="buttonS bGreen" href="{{ path('countries_edit', { 'id': entity.id }) }}">Edytuj</a>
    </div>

    <div class="divider"><span></span></div>
{% endblock %}