<div id="dyn" class="hiddenpars">
  <a class="tOptions" title="Options"><img src="{{ asset('images/icons/options.png') }}" alt="Ustawienia" /></a>
  <table cellpadding="0" cellspacing="0" border="0" class="dTable" id="dynamic">
    <thead>
        <tr>
            <th>Id</th>
            <th>Kod pocztowy</th>
            <th>Miasto</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entity.code }}</td>
                <td>{{ entity.city }}</td>
                <td class="tableActs">
                    <a href="{{ path('zipcodes_edit', { 'id': entity.id }) }}" class="tablectrl_small bDefault tipS" title="Edytuj"><span class="iconb" data-icon="&#xe1db;"></span></a>
                    {{ form_start(deleteForms[entity.id], { attr: { 'class': 'inline' }}) }}
                        {{ form_widget(deleteForms[entity.id]._token) }}
                        <button class="tablectrl_small bDefault tipS" title="Usuń" onclick="if(!confirm('Czy jesteś pewny?')) { return false; }"><span class="iconb" data-icon="&#xe136;"></span></button>
                    {{ form_end(deleteForms[entity.id]) }}
                    <a href="{{ path('zipcodes_show', { 'id': entity.id }) }}" class="tablectrl_small bDefault tipS" title="Pokaż"><span class="iconb" data-icon="&#xe246;"></span></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
  </table> 
</div>
