{% extends '::layout.html.twig' %}

{% block contenttop %}
    <span class="icos-marker"></span>Nowy kod pocztowy
{% endblock %}
    
{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ path('zipcodes') }}" title="Kody pocztowe">Kody pocztowe</a>
        <ul>
            <li><a href="{{ path('zipcodes_new') }}" title="Nowy kod pocztowy">Nowy kod pocztowy</a></li>
        </ul>
    </li>
    <li class="current"><a href="#" title="Nowy kod pocztowy">Nowy kod pocztowy</a></li>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/forms/jquery.uniform.js') }}"></script>
    <script>
        $(".styled, input:radio, input:checkbox, .dataTables_length select").uniform();
    </script>
{% endblock %}

{% block body -%}
    {{ form_start(form) }}
        <fieldset>
            {{ form_errors(form) }}
            <div class="widget fluid">
                <div class="whead"><h6>Nowy kod pocztowy</h6><div class="clear"></div></div>
                <div class="formRow">
                    <div class="grid3"><label>{{ form_label(form.code) }}</label></div>
                    <div class="grid9">{{ form_widget(form.code) }}{{ form_errors(form.code) }}</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label>{{ form_label(form.city) }}</label></div>
                    <div class="grid9">{{ form_widget(form.city) }}{{ form_errors(form.city) }}</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3">
                        <a class="buttonS bBlack" href="{{ path('zipcodes') }}">Powrót</a>
                        {{ form_widget(form.submit) }}
                        {{ form_rest(form) }}
                    </div>
                    <div class="grid9"></div>
                    <div class="clear"></div>
                </div>
            </div>
        </fieldset>
    {{ form_end(form) }}
{% endblock %}