{% extends '::layout.html.twig' %}

{% block contenttop %}
    <span class="icos-marker"></span>Szczegóły kodu pocztowego: {{ entity }}
{% endblock %}
    
{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ path('zipcodes') }}" title="Kody pocztowe">Kody pocztowe</a>
        <ul>
            <li><a href="{{ path('zipcodes_new') }}" title="Nowy kod pocztowy">Nowy kod pocztowy</a></li>
        </ul>
    </li>
    <li class="current"><a href="#" title="Szczegóły kodu pocztowego">Szczegóły kodu pocztowego: {{ entity }}</a></li>
{% endblock %}

{% block body -%}
    <div class="widget justTable">
        <table cellpadding="0" cellspacing="0" width="100%" class="tDefault">
            <tbody>
                <tr>
                    <td width="25%">Kod pocztowy:</td>
                    <td>{{ entity.code }}</td>
                </tr>
                <tr>
                    <td width="25%">Miasto:</td>
                    <td>{{ entity.city }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="divider"><span></span></div>

    <div class="widget nobg noBorder">
        <a class="buttonS bBlack" href="{{ path('zipcodes') }}" title="Powrót">Powrót</a>
        <a class="buttonS bGreen" href="{{ path('zipcodes_edit', { 'id': entity.id }) }}">Edytuj</a>
    </div>

    <div class="divider"><span></span></div>
{% endblock %}