{% extends '::layout.html.twig' %}

{% block contenttop %}
    <span class="icos-map"></span>Edycja miasta
{% endblock %}
    
{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ path('cities') }}" title="Miasta">Miasta</a>
        <ul>
            <li><a href="{{ path('cities_new') }}" title="Nowe miasto">Nowe miasto</a></li>
        </ul>
    </li>
    <li class="current"><a href="#" title="Edycja miasta">Edycja miasta</a></li>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/forms/jquery.uniform.js') }}"></script>
    <script>
        $(".styled, input:radio, input:checkbox, .dataTables_length select").uniform();
    </script>
{% endblock %}

{% block body -%}
{{ form_start(edit_form) }}
        <fieldset>
            {{ form_errors(edit_form) }}
            <div class="widget fluid">
                <div class="whead"><h6>Edycja miasta</h6><div class="clear"></div></div>
                <div class="formRow">
                    <div class="grid3"><label>{{ form_label(edit_form.name) }}</label></div>
                    <div class="grid9">{{ form_widget(edit_form.name) }}{{ form_errors(edit_form.name) }}</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label>{{ form_label(edit_form.province) }}</label></div>
                    <div class="grid9">{{ form_widget(edit_form.province) }}{{ form_errors(edit_form.province) }}</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3">
                        <a class="buttonS bBlack" href="{{ path('cities') }}">Powrót</a>
                        {{ form_widget(edit_form.submit) }}
                        {{ form_rest(edit_form) }}
                    </div>
                    <div class="grid9"></div>
                    <div class="clear"></div>
                </div>
            </div>
        </fieldset>
    {{ form_end(edit_form) }}
    {{ form_start(delete_form) }}
        <fieldset>
            <div class="widget fluid">
                <div class="body">
                    {{ form_rest(delete_form) }}
                    <button class="buttonS bBlack" title="Usuń" onclick="if(!confirm('Czy jesteś pewny?')) { return false; }">Usuń</button>
                </div>
            </div>
        </fieldset>
    {{ form_end(delete_form) }}
{% endblock %}