{% extends '::layout.html.twig' %}

{% block contenttop %}
    <span class="icos-map"></span>Nowe miasto
{% endblock %}
    
{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ path('cities') }}" title="Miasta">Miasta</a>
        <ul>
            <li><a href="{{ path('cities_new') }}" title="Nowe miasto">Nowe miasto</a></li>
        </ul>
    </li>
    <li class="current"><a href="#" title="Nowe miasto">Nowe miasto</a></li>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/forms/jquery.uniform.js') }}"></script>
    <script>
        $(".styled, input:radio, input:checkbox, .dataTables_length select").uniform();
    </script>
{% endblock %}

{% block body -%}
    {{ form_start(form) }}
        <fieldset>
            {{ form_errors(form) }}
            <div class="widget fluid">
                <div class="whead"><h6>Nowe miasto</h6><div class="clear"></div></div>
                <div class="formRow">
                    <div class="grid3"><label>{{ form_label(form.name) }}</label></div>
                    <div class="grid9">{{ form_widget(form.name) }}{{ form_errors(form.name) }}</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label>{{ form_label(form.province) }}</label></div>
                    <div class="grid9">{{ form_widget(form.province) }}{{ form_errors(form.province) }}</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3">
                        <a class="buttonS bBlack" href="{{ path('cities') }}">Powrót</a>
                        {{ form_widget(form.submit) }}
                        {{ form_rest(form) }}
                    </div>
                    <div class="grid9"></div>
                    <div class="clear"></div>
                </div>
            </div>
        </fieldset>
    {{ form_end(form) }}
{% endblock %}