{% extends '::layout.html.twig' %}

{% block contenttop %}
    <span class="icos-map"></span>Szczegóły miasta: {{ entity }}
{% endblock %}
    
{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ path('cities') }}" title="Miasta">Miasta</a>
        <ul>
            <li><a href="{{ path('cities_new') }}" title="Nowe miasto">Nowe miasto</a></li>
        </ul>
    </li>
    <li class="current"><a href="#" title="Szczegóły miasta">Szczegóły miasta: {{ entity }}</a></li>
{% endblock %}

{% block body -%}
    <div class="widget justTable">
        <table cellpadding="0" cellspacing="0" width="100%" class="tDefault">
            <tbody>
                <tr>
                    <td width="25%">Nazwa miasta:</td>
                    <td>{{ entity.name }}</td>
                </tr>
                <tr>
                    <td width="25%">Województwo:</td>
                    <td>{{ entity.province }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="divider"><span></span></div>

    <div class="widget nobg noBorder">
        <a class="buttonS bBlack" href="{{ path('cities') }}" title="Powrót">Powrót</a>
        <a class="buttonS bGreen" href="{{ path('cities_edit', { 'id': entity.id }) }}">Edytuj</a>
    </div>

    <div class="divider"><span></span></div>
{% endblock %}